.faq {
  &__content {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 70px;
    border: 1.5px solid var(--Black-10, #F4F4F6);
    background: var(--white-100, #FFF);

    @media(max-width: 812px) {
      padding: 50px 40px;
    }

    @media(max-width: 560px) {
      padding: 50px 0;
    }
  }

  &__text {
    display: flex;
    padding: 87px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 60px;
    border: 1px solid var(--Black-10, #F4F4F6);
    background: var(--Primary-10, #FFFCFB);

    @media(max-width: 812px) {
      padding: 66px 0;
    }

    @media(max-width: 560px) {
      padding: 100px 0;
    }
  }

  &__title {
    color: var(--Black-100, #07070C);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media(max-width: 812px) {
      font-size: 38px;
    }

    @media(max-width: 560px) {
      font-size: 28px;
    }
  }

  &__description {
    color: var(--Black-20, #B3B3BA);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media(max-width: 560px) {
      font-size: 14px;
    }
  }

  &__questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;

    @media(max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }

  &__answer {
    display: none;
    padding-left: 41px;
    color: var(--Black-20, #B3B3BA);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media(max-width: 812px) {
      font-size: 14px;
      padding-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
    border: 1px solid var(--Black-10, #F4F4F6);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &--selected {
      .faq__answer {
        display: block;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  &__btn {
    height: 31px;
    width: 31px;

    &--open {
      background: url(../img/faq-open.svg) no-repeat center;
    }

    &--close {
      background: url(../img/faq-close.svg) no-repeat center;
    }
  }

  &__name {
    color: var(--Black-100, #07070C);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media(max-width: 812px) {
      font-size: 18px;
    }
  }


}