.footer {
  @media(max-width: 425px) {
    padding: 50px 20px;
  }

  &__content {
    display: grid;
    gap: 40px;
    background: #07070C;
    padding: 90px 90px 105px;

    @media(max-width: 812px) {
      padding: 90px 85px 105px;
    }

    @media(max-width: 425px) {
      border-radius: 60px;
      padding: 20px 40px 55px;
    }
  }

  &__info {
    display: grid;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px;

    @media(max-width: 425px) {
      padding-bottom: 0;
    }
  }

  &__title {
    color: var(--white-100, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media(max-width: 425px) {
      flex-direction: column;
    }
  }

  &__link {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;


    &:hover {
      opacity: 0.7;
    }
  }

  &__contacts {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: 425px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 53px;
    align-items: center;
    align-self: stretch;
    padding: 55px 71.5px;
    border-radius: 60px;
    border: 1px solid #585858;
    background: #1A1A1F;

    @media(max-width: 995px) {
      flex-direction: column;
      padding: 55px 38px;
    }

    @media(max-width: 560px) {
      display: none;
    }
  }

  &__subscription {
    width: 268px;
    color: var(--white-100, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media(max-width: 995px) {
      width: 100%;
    }
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

    label {
      width: 100%;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    padding: 23.5px 206px 23.5px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px 44px;
    background: var(--Black-100, #07070C);
    color: var(--white-100, #FFF);
  }

  &__btn {
    position: absolute;
    right: 20px;
    top: 10px;
    bottom: 10px;

    &--mobile.btn {
      display: none;

      @media(max-width: 560px) {
        display: flex;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    color: var(--Black-10, var(--Black-10, #F4F4F6));

    span {
      font-weight: 300;

      @media(max-width: 425px) {
        font-size: 14px;
      }
    }

    @media(max-width: 425px) {
      flex-direction: column;
    }
  }

}

.contacts {
  &__item {
    display: flex;
    padding-left: 31px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }

    &--address {
      background: url("../img/address.svg") no-repeat left center;
    }

    &--mail {
      background: url("../img/mail.svg") no-repeat left center;
    }
  }
}